h2.class1{
    
    color: rgb(0, 0, 0);
    background-color: #c6efce;
    
}

.sobremim {
  display: flex;        
  align-items: center;   
  gap: 15px;             
}




.imagem-redonda 
{
    width: 200px; 
    height: 200px; 
    border-radius: 50%; 
    overflow: hidden; 
  }


.imagem-redonda:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 18px rgba(0,0,0,0.15); 
  transition: transform 0.3s ease, box-shadow 0.3s ease; 
}



h4 {
  font-size: 10x;  
  font-weight: normal; 
}



header {
  background-color: #B3E5B3; 
  padding: 20px;
  text-align: center;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
}


header h1 {
  color: #333;
  margin-bottom: 10px;
}

header nav a {
  text-decoration: none;
  color: #333;
  margin: 0 15px;
  font-weight: bold;
  transition: color 0.3s ease;
}

header nav a:hover {
  color: #d63384; 
}

   .cardrosa {
      background-color: #ffe4f0;      
      border-radius: 20px;          
      padding: 25px;               
      margin: 20px;                    
      box-shadow: 0 8px 12px rgba(8, 0, 0, 0.1); 
      transition: transform 0.3s ease, box-shadow 0.3s ease; 
     max-width: 900px; 
    }

    .cardrosa:hover {
      transform: translateY(-5px); 
      box-shadow: 0 12px 18px rgba(0,0,0,0.15); 
    }

    .cardrosa h2 {
      color: #d63384;
      margin-bottom: 10px;
    }

    .cardrosa p {
      color: #555;
      line-height: 1.5;
    }

    .cardrosa a {
      display: inline-block;
      margin-top: 15px;
      padding: 8px 15px;
      background-color: #ff85c1;
      color: white; 
      text-decoration: none; 
      border-radius: 12px;
      font-weight: bold; 
      transition: background-color 0.3s ease; 
    }

    .cardrosa a:hover {
      background-color: #d63384; 
    }


    .cheat 
    {
      border: 2px solid #D7F5D3; 
     padding: 20px;            
     max-width: 20px;           
     margin: 20px auto; 
     max-width: 900px; 
    }

    





